<div class="ui search" {{did-insert this.initialize @search}}>
  <div class="ui icon input">
    <input class="prompt" type="text" placeholder={{@placeholder}}>
    <i class="search icon" />
  </div>
  <div class="results"></div>
</div>
