<SiteTitle />

<div class="app__masthead loading">
  <div class="ui text container">
    <h1 class="ui header">
      Loading...
    </h1>
  </div>
</div>

<div class="ui text container">
  <div class="ui divider"></div>

  <div class="ui items">
    <div class="item">
      <div class="content">
        <a class="header" style="opacity:0.5">
          A <u>neighbour</u> needs <u>child care</u> in <u>Nearby, CO</u>...
        </a>
        <div class="description">
          <div class="ui placeholder">
            <div class="paragraph">
              <div class="line"></div>
              <div class="line"></div>
            </div>
          </div>
          <div class="ui placeholder">
            <div class="paragraph">
              <div class="line"></div>
              <div class="line"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
