<Lead />

<div class="ui text container">
  <div class="ui divider"></div>

  <div class="ui items">
  {{#each @model as |need|}}
    <div class="item">
      <div class="content">
        <a class="header" style="font-weight:normal">
          Someone <u>near you</u> needs <u>{{need.category.friendlyName}}</u>
        </a>
        <div class="description">
          <p>{{need.description}}</p>
          <p>{{need.instructions}}</p>
        </div>
      </div>
    </div>
  {{/each}}
  </div>
</div>
